<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %><div class="container-fluid justify-content-center text-center">    
    <form method="post">
    <table width="75%" align=center>
        <tr>
            <td class="align-content-md-center">
                <div class="col display-4"><h3>Random Large File Copy</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up7" id="up7" src="images/triangle_up.png" width=40 height=40 onchange="this.form.submit()">
                        <%= pcount7 %>
                        <input <%= pcount7 == '0' ? 'class=invisible' : ''%> type=image name="down7" id="down7" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>    
                </div>
            </td class="align-content-md-center">
            <td>
                <div class="col display-4"><h3>Random Small File Copy</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up8" id="up8" src="images/triangle_up.png" width=50 height=50 onchange="this.form.submit()">
                        <%= pcount8 %>
                        <input <%= pcount8 == '0' ? 'class=invisible' : ''%> type=image name="down8" id="down8" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>    
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col display-4"><h3>Typical Database Traffic</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up1" id="up1" src="images/triangle_up.png" width=40 height=40 onchange="this.form.submit()">
                        <%= pcount1 %>
                        <input <%= pcount1 == '0' ? 'class=invisible' : ''%> type=image name="down1" id="down1" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>    
                </div>                
            </td>
            <td>
                <div class="col display-4"><h3>Typical Web App Traffic</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up2" id="up2" src="images/triangle_up.png" width=40 height=40 onchange="this.form.submit()">
                        <%= pcount2 %>
                        <input <%= pcount2 == '0' ? 'class=invisible' : ''%> type=image name="down2" id="down2" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col display-4"><h3>Sustained Reads</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up3" id="up3" src="images/triangle_up.png" width=40 height=40 onchange="this.form.submit()">
                        <%= pcount3 %>
                        <input <%= pcount3 == '0' ? 'class=invisible' : ''%> type=image name="down3" id="down3" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>    
                </div>
            </td>
            <td>
                <div class="col display-4"><h3>Sustained Writes</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up6" id="up6" src="images/triangle_up.png" width=40 height=40 onchange="this.form.submit()">
                        <%= pcount6 %>
                        <input <%= pcount6 == '0' ? 'class=invisible' : ''%> type=image name="down6" id="down6" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>    
                </div>                    
            </td>
        </tr>
        <tr>
            <td>
                <div class="col display-4"><h3>CPU Intensive Operations</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up4" id="up4" src="images/triangle_up.png" width=40 height=40 onchange="this.form.submit()">
                        <%= pcount4 %>
                        <input <%= pcount4 == '0' ? 'class=invisible' : ''%> type=image name="down4" id="down4" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>    
                </div>                       
            </td>
            <td>
                <div class="col display-4"><h3>Internet Intensive Traffic</h3>
                    <div class="font-weight-bold">
                        <input type=image name="up5" id="up5" src="images/triangle_up.png" width=40 height=40 onchange="this.form.submit()">
                        <%= pcount5 %>
                        <input <%= pcount5 == '0' ? 'class=invisible' : ''%> type=image name="down5" id="down5" src="images/triangle_down.png" width=40 height=40 onchange="this.form.submit()">
                    </div>    
                </div>                 
            </td>
        </tr>
    </table>   
    </form>
</div></body>

<% include partials/script %>
<% include partials/footer %>
</html>
